:root {
  --pink: #b185aa;
  --green: #0e2210;
  --orange: #F5CF47;
}

* {
  /*display: block;*/
  margin: 0;
  padding: 0;
  font-family: 'Bitter', sans-serif;
  color: var(--green);
}

script {
  display: none;
}

head {
  display: none;
}

body {
  background-color: var(--pink);
  margin: 0;
  padding: 0;
}

.portrait {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 51%;
}

.block {
  display: inline-block;
}

#center-body-text {
  text-align: center;
}

.link-list-elm {
  display: inline-block;
  font-size: 20px;
}

.link-list-elm > a {
  padding: 5px;
  color: var(--pink);
  background-color: var(--green);
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 0.5s;
  transition-timing-function: ease;
}

.link-list-elm > a:hover {
  background-color: var(--orange);
}

.grid {
  display: block;
  margin: auto;
}

.img-container {
  z-index: 999;
  position: relative;
  margin: -2px -2px;
  text-align: center;
}

.big {
  display: inline-block;
  width: 33.3333%;
  height: 33.3333%;
}

.small {
  display: block;
  width: 100%;
  height: 100%;
}

.img-container:hover {
  cursor: pointer;
}

.grid-box {
  width: 100%;
  height: 100%;
  transition: filter 0.5s;
  transition-timing-function: ease;
}

.grid-box:hover {
  filter: opacity(25%);
}

.img-txt {
  z-index: 998;
  display: block;
  transition: filter 0.5s;
  transition-timing-function: ease;
  box-shadow: inset 1000px 0 0 0 var(--pink);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.text {
  width: calc(100% - 4cm);
  word-wrap: break-word;
  margin: auto;
  white-space: pre-line;
}

#blog-table {
  margin: 0px auto;
  border-spacing: 0px;
}

#blog-table > * > * > th {
  border: 0.5px solid black;
  padding: 4px;
  font-size: 2em;
}

#blog-table > * > * > td {
  border: 0.5px solid black;
  padding: 4px;
  transition: background-color 0.5s;
  transition-timing-function: ease;
  font-size: 2em;
}

#blog-table > * > * > td:hover {
  cursor: pointer;
  background-color: var(--orange);
}