:root {
  --pink: #b185aa;
  --green: #0e2210
}

* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Bitter', sans-serif;
  color: var(--green);
}

head {
  display: none;
}

body {
  background-color: var(--pink);
  margin: 0;
  padding: 0;
}

#portrait {
  display: block;
  width: 51%;
  margin: auto;
  margin-top: 20px;
}

#center-body-text {
  text-align: center;
}

#shrink-wrap {
  /*transform: translate(calc(50% - 50px), 0);*/
}

.link-list {
}

.link-list-elm {
  display: inline-block;
  font-size: 20px;
}

/*.link-list-elm > a::before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.2rem;
  background-color: #0e2210;
}*/
