:root {
  --pink: #b185aa;
}

* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Bitter', sans-serif;
  color: #fff;
}

head {
  display: none;
}

body {
  background-color: var(--pink);
  margin: 0;
  padding: 0;
}

#portrait {
  display: block;
  width: 51%;
  margin: auto;
  margin-top: 20px;
}

#center-body-text {
  text-align: center;
}

#shrink-wrap {
  transform: translate(calc(50% - 50px), 0);
}

.link-list {
  list-style-type: disc;
}

.link-list-elm {
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}

.link-list-elm > a::before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.2rem;
  background-color: white;
}
